<!DOCTYPE HTML>
<html lang="en-US">
<head>
        <meta charset="UTF-8">
        <title>Try again!</title>
</head>
<body>
	<div id="content">
		<form action="/updatemembership/" method="post"> {% csrf_token %}
		    <p>Membership expired!  Please become a member or renew your membership.</p>
			<strong>Membership type: </strong>
			<select name="membershiptype">
			{% for membershiptype in membershiptypes %}
				<option value="{{ membershiptype }}">{{ membershiptype }}</option>
			{% endfor %}
			</select>
			<input type="hidden" name="idnum" value="{{ idnum }}">
			<input type="submit" value="Submit" />
		</form>
		<a href="/">Home</a>
	</div>
</body>
</html>