<!DOCTYPE html>
<html>
<head>
<script type="text/javascript"
 src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>
<SCRIPT TYPE="text/javascript">
// copyright 1999 Idocs, Inc. http://www.idocs.com
// Distribute this script freely but keep this notice in place
function numbersonly(myfield, e, dec)
{
var key;
var keychar;

if (window.event)
   key = window.event.keyCode;
else if (e)
   key = e.which;
else
   return true;
keychar = String.fromCharCode(key);

// control keys
if ((key==null) || (key==0) || (key==8) || 
    (key==9) || (key==27) )
   return true;

if(key == 13)
          return false;


// numbers
else if ((("0123456789").indexOf(keychar) > -1))
   return true;

// decimal point jump
else if (dec && (keychar == "."))
   {
   myfield.form.elements[dec].focus();
   return false;
   }
else
   return false;
}
//-->
</SCRIPT>
/*<script type="text/javascript">
  $(document).ready(function() {
    $('#id_idnum').bind('blur', function () {
      $.get("/emailfinder/", function(data) {
          console.log("get called");
      });
   });
});
</script>
<style type="text/css">
#content {
	font-family: Arial;
}
</style>
</head>
<body OnLoad="document.form.idnum.focus();">
<center>
<h1>Ballroom Dance @ Virginia Tech Attendance</h1>
<br>
<h2>Please swipe your hokie passport (or enter phone number if not a student)</h2>
<div id="content">
	<form action="/signin/" method="post" name="form"> {% csrf_token %}
		<p><label for="id_idnum"></label>
		<input type="password" name="idnum" id="id_idnum"  maxlength="9"
		style="height: 32pt; font-size: 24pt; width: 400px; text-align: center"
		onkeypress="return numbersonly(this,event)"  /></p>
		
		<p><label for="id_professional_lesson">Professional Lesson</label>
    	<input type="checkbox" name="professional_lesson" id="id_professional_lesson" /></p>
		
		<p><label for="id_firstname"></label>
		<input type="text" name="firstname" id="id_firstname"
		value="First name" disabled="disabled"
		 onblur="if (this.value == '') {this.value = 'First name';}"
 		 onfocus="if (this.value == 'First name') {this.value = '';}"/></p>
		
		<p><label for="id_lastname"></label>
		<input type="text" name="lastname" id="id_lastname" value="Last name" disabled="disabled"
		 onblur="if (this.value === '') {this.value = 'Last name';}"
 		 onfocus="if (this.value === 'Last name') {this.value = '';}"/></p>		
		
		<p><label for="id_associate">Associate ID with existing member (only do this once per member!)</label>
		<input type="checkbox" name="associate" id="id_associate" 
    	onclick="if(this.checked){
    	 			id_lastname.disabled='';
    	 			id_firstname.disabled='';
    	 		 }else{
    	 		 	id_lastname.disabled='disabled';
    	 		 	id_firstname.disabled='disabled';
    	 		 }"
    	/></p>
    	
		<select name="choices">
		{% for choice in choices %}
			<option value="{{ choice.statsID }}">{{ choice.statsID }}</option>
		{% endfor %}
		</select>
		</ul>
		
    	
		<input type="submit" value="Submit" />
		<br>
		<a href="/stats/">Stats</a>
		<br>
		<a href="/admin/">Admin</a>
		</center>
	</form>
</div>
</body>
</html>
